body{
    background-image: url("about_bg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
     background-size: 80% 95%;
    padding-left: 10%;


}


.move_letters{
    font-size: 35px;
    font-family: cursive;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}
span{
    color:#284c68;
    display: inline-block;
    font-weight: bolder;
    animation: mover 6s linear infinite;
    text-align: center;

}

@keyframes mover{
        0%{
            text-shadow: 0 0 30px rgba(0,0,0,0);
        }
        50%{
            text-shadow: 0 0 30px rgba(0,0,0,0.30);
            transform: translateY(30px)
        }
        100%{
            text-shadow: 0 0 30px rgba(0,0,0,0);
        }
}

#back_img{
    position:absolute;
    top:85%;
    left:19%;
    width:100px;
    height:100px;
    outline: none;
    border: none;

}
#back_img:active {
    box-shadow: 0 5px ;
    transform: translateY(4px);
}
