* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 85%;
    height: 95%;
    padding-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas1 {
    width: 100%;
    height: 95%;
    border: none;
    background-image: url("im.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-attachment: fixed;
     background-size: 100% 95%;
}
#back_img{
    position:absolute;
    top:78%;
    left:10%;
    width:100px;
    height:100px;
    outline: none;
    border: none;

}
#back_img:active {
    box-shadow: 0 5px ;
    transform: translateY(4px);
}

