/* this div for body of menu with background */

body {
    background-image: url("4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    background-size: 80% 95%;
}


/* id play for play button */

#play {
    /*to put button on the center of the photo*/
    position: absolute;
    top: 33%;
    left: 45%;
    background-color: #079fce;
    color: white;
    font-size: 28px;
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 70px;
    text-align: center;
    font-family: cursive;
    border: none;
    animation: movebtn 3s linear infinite;
    outline: none;
}

@keyframes movebtn {
    50% {
        transform: translateY(30px);
    }
}

#play:hover {
    background-color: rgb(119, 204, 243);
}

#htoplay {
    /*to put button on the center of the photo*/
    position: absolute;
    top: 60%;
    left: 42%;
    background-color: #079fce;
    color: white;
    font-size: 28px;
    border: none;
    width: 200px;
    height: 70px;
    border-radius: 30px;
    text-align: center;
    font-family: cursive;
    animation: mv 2s linear infinite;
    outline: none;
}

@keyframes mv {
    50% {
        transform: translateY(30px);
    }
}

#htoplay:hover {
    background-color: rgb(119, 204, 243);
}




#about {
    /*to put button on the center of the photo*/
    position: absolute;
    top: 75%;
    left: 42%;
    background-color: #079fce;
    color: white;
    font-size: 28px;
    border: none;
    width: 200px;
    height: 70px;
    border-radius: 30px;
    text-align: center;
    font-family: cursive;
    animation: mov 3s linear infinite;
    outline: none;
}

@keyframes mov {
    50% {
        transform: translateY(30px);
    }
}

about:only-child {
    animation-delay: 3s;
}

#about:hover {
    background-color: rgb(119, 204, 243);
}


* {
    margin: 0;
    padding: 0;
}

.text-box {
    font-size: 80px;
    font-family: cursive;
    position: absolute;
    top: 20%;
    left: 47%;
    transform: translate(-50%, -50%);
    text-align: center;
}

span {
    display: inline-block;
    font-weight: bolder;
    text-align: center;
    animation: mover 3s linear infinite;
    color: rgba(4, 130, 168, 0.986);
}

@keyframes mover {
    0% {
        text-shadow: 0 0 30px rgba(247, 247, 247, 0.986);
    }
    50% {
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.986);
        transform: translateY(30px);
    }
    100% {
        text-shadow: 0 0 30px rgb(255, 255, 255);
    }
}

span:nth-child(1) {
    animation-delay: 0.3s;
}

span:nth-child(2) {
    animation-delay: 0.6s;
}

span:nth-child(3) {
    animation-delay: 1.2s;
}

span:nth-child(4) {
    animation-delay: 1.5s;
}

span:nth-child(5) {
    animation-delay: 1.8s;
}

span:nth-child(6) {
    animation-delay: 2.1s;
}

span:nth-child(7) {
    animation-delay: 2.4s;
}
