* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    /* margin-left: 100px; */
    /* background-size: cover; */
    /* */
    /* margin-top: 50px; */
    /* border-image-width: 1000px; */
    justify-content: center;
    align-items: center;
}

#canvas1 {
    width: 1000px;
    height: 600px;
    border: none;
    background-image: url("im.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    background-size: 1000px 700px;
}
